logs
node_modules
target
tmp
.history
/.classpath
/.project
/.settings
.DS_Store
scratch/
.externalToolBuilders
*local*
*.bak*
LICENSE
/bin/
/bower_components/chai-as-promised/test/browser/*.coffee
/bower_components/chai-as-promised/*.md
*.md
*.coffee
chai-as-promised
angular-mocks
angular
chai
sinon-chai
/.cache
/public/src/gitInfo.json

/nodejs-api/public/build/
/nodejs-api/public/fonts/
/nodejs-api/public/images/
/nodejs-api/public/src/
/nodejs-api/public/swagger/
/nodejs-api/public/v1/
/nodejs-api/public/.gitignore
/nodejs-api/public/ico.png
/nodejs-api/public/index.html
/nodejs-api/public/unittests.html

/public/build/css/app.css
/public/build/js/html5shiv.js
/public/src/gitInfo.json
/public/src/build/index.html
/public/src/gitinfo.json
/bower_components/
/.idea/.name
/.idea/demo grunt.iml
/.idea/jsLibraryMappings.xml
/.idea/libraries/demo_grunt_node_modules.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
